
html {
    background-color: #f8f7f6
} 

body {
    margin: 0;
}

.section {
    text-align: center;
    margin-top: 50px;
    font-size: 20px;
}

.intro {
    text-align: center;
    margin-top: 30px;
    font-size: 19px;
    font-family:Arial, Helvetica, sans-serif
}


/* =================================================================== 
   === NAVBAR
 * =================================================================== */

.navbar {
    background-color: #a09776;
    height: 130px;
    display: flex;
    flex-flow: row wrap;
    align-items:center;
    position: relative;

}

.navbar__logo {
    width: 350px;
    height: 100px;
}

.navbar__menu {
    display: flex;
    flex-flow: nowrap;
    margin-left: 190px;

}

.navbar__menu__item {
    display: flex;
    align-items: center;
    padding-left: 30px;
    color: white;
    font-size: small;
}

.navbar__search {
   
    background-color: cyan;
    position:absolute;
    left: 1300px;
    bottom: 20px;
}


.navbar__flag {}

.drapeau {
    width: 25px;
    height: 20px;
    background-color: salmon;
    position:absolute;
    left: 1490px;
    top: 25px;
}

/* =================================================================== 
   === ITEMS
 * =================================================================== */

.items-section {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    max-width: 1900px;
    margin-top: 50px;
}

.items-section__box {
    background-color: white;
    border: 1px solid black;
    width: 250px;
    height: 400px;
    margin-right: 40px;
    margin-left: 40px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    overflow: hidden;
    justify-content: space-between;

}

.items-section__box__image {

    width: 200px;
    height: 250px;
    object-fit: cover;
    margin-top: 25px;
    flex-grow: 0;
    flex-shrink: 0;
    
    }

.items-section__box__image-and-description {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
}

.items-section__box__description-link {
    font-size: small;
    text-align: left;
    margin-top: 10px;
    padding: 5px 5px;
    text-align: center;
    
}

.items-section__box__description-link a:hover {

    font-weight: bold;
    color: black;
    text-decoration: none;
}

a:link {
    color: black;
    text-decoration: none;
    
}

hr {

width: 50%;
margin-top: 20px;
opacity: 0.4;

}

.items-section__box__title-link {
    font-weight: bold;
}

.test {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}